In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Clarapath - Harvard, Project 17 - Auto Counted Data Files.xlsx')

In [3]:
data.head()

,institution_name,project_id,raw_specimen_id,slide_id,slides_name,data_file_id
0,Harvard,17,1,3214,83_136_2015-07-15_3_3214,8717
1,Harvard,17,1,3214,83_136_2015-07-15_3_3214,8718
2,Harvard,17,1,3214,83_136_2015-07-15_3_3214,8719
3,Harvard,17,1,3689,89_140_2015-07-21_3_3689,10088
4,Harvard,17,1,3689,89_140_2015-07-21_3_3689,10089

In [5]:
RS_names = data['raw_specimen_id'].unique()
RS_names

array([  1,  93,  95,  97,  99, 101, 103, 105, 107, 109, 111, 113, 115,
       117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141,
       143, 233, 235, 237, 238, 239, 240, 241, 246, 247, 248, 249, 250,
       251, 252, 253, 254, 255])

In [6]:
ls_pairs = []

for rs in RS_names:
    
    data_temp = data[data['raw_specimen_id'] == rs].reset_index()
    
    for row in range(20):
        ls_pairs.append((rs, data_temp['data_file_id'][row]))

In [11]:
ls_pairs_df = pd.DataFrame(ls_pairs)
ls_pairs_df.columns = [['rs', 'datafileID']]
ls_pairs_df.head()

   rs  datafileID
0   1        8717
1   1        8718
2   1        8719
3   1       10088
4   1       10089

In [12]:
ls_pairs_df.to_csv('sample.csv')